{% extends "layouts/base.html" %}

{% set bookAuthor = [authorFirst, authorLast] %}

{% block content %}
	<article class="book-post-container">
        {% include "partials/book-post-header.html" %}
		<div class="[ page-content ] [ flow wrapper ] [ flow-space-700 gap-top-700 ]">
			{{ content | safe }}
            <div>
                <img class="book-cover-img" src="https://ecx.images-amazon.com/images/P/{{isbn}}.01._SX600_SY1200_SCRM_.jpg" alt="book cover"/>
                <p>book details:</p>
                <ul>
                    <li>author: {{ bookAuthor | join(" ") }}</li>
                    <li>published: {{release}}</li>
                    <li>isbn: <a href="https://www.librarything.com/search.php?search={{isbn}}" target="_blank" rel="noopener noreferrer"r>{{ isbn }}</a></li>
                </ul>
            </div>
		</div>
	</article>


{% endblock %}