html {
  font-family: monospace;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

ul li {
  list-style: circle;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding-left: 15px;
}

.nav__list li {
  margin: 0 2px;
  list-style: none;
}

.hidden-item {
  visibility: hidden;
  max-height: 0;
  height: 0;
}

main {
  flex: 1 0 auto;
}

#main-content {
  padding: 10px;
}

.post-container,
.book-post-container {
  max-width: 600px;
  width: 100%;
}

.blog-image {
  width: auto;
  height: auto;
  max-width: 400px;
}

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.book-post-container .book-cover-img {
  max-width: 150px;
  height: auto;
  width: auto;
}

.project-post-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  border-top: 0.5px solid #000000;
  padding: 1px 0;
}

.site-footer__inner .webring {
  display: flex;
  flex-direction: row;
}

footer .site-footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: auto;
}

@media (max-width: 600px) {
  #main-content {
    padding: 5px;
  }

  .book-list, .list-container {
    padding: 5px 3px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .book-list li, .list-container li {
    margin-bottom: 5px;
  }

  .book-list-item, .list-container-item {
    display: flex;
    flex-direction: column;
  }

  .book-list .reading-rating {
    display: none;
  }

  .blog-image {
    width: auto;
    height: auto;
    max-width: 95vw;
  }


footer .site-footer__inner {
  display: flex;
  text-align: center;
  padding: 0 2px;
  font-size: 9px;
  margin: auto;
  width: auto;
}
}