html {
  font-family: monospace;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

ul li {
  list-style: circle;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.nav__list li {
  margin: 0 5px;
  list-style: none;
}

main {
  flex: 1 0 auto;
}

#main-content {
  padding: 10px;
}

.post-container,
.book-post-container {
  max-width: 600px;
  width: 100%;
}

.blog-image {
  width: auto;
  height: auto;
  max-width: 400px;
}

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.book-post-container .book-cover-img {
  max-width: 150px;
  height: auto;
  width: auto;
}

footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  border-top: 0.5px solid #000000;
  padding: 1px 0;
}

footer .site-footer__inner {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: auto;
}

@media (max-width: 600px) {
  #main-content {
    padding: 5px;
  }

  .blog-image {
    width: auto;
    height: auto;
    max-width: 95vw;
  }
}