html {
  font-family: monospace;
}

body {
  background-color: #ffffff;
}

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

footer {
  width: 100%;
  position: sticky;
  bottom: 0;
}

footer .site-footer__inner {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: auto;
}