<div class="[ page-header ] [ bg-light-glare ]">
	<div class="[ wrapper ] [ flow ]">
		<h1 class="[ page-header__heading ] [ headline ]" data-highlight="primary">
			{{ title }} - {{ bookAuthor | join(" ") }}
		</h1>
        <div>
            <h2>rating: {{ rating }}</h2>
			{% if read %}
			<h3>read: {{ read }}</h3>
			{% endif %}
        </div>
		{% if pageHeaderSummary %}
		<div class="[ page-header__summary ] [ measure-long ]">
			{{ pageHeaderSummary | safe }}
		</div>
		{% endif %}
	</div>
</div>